
h1{
	width:200px;
	border-left-color: green;
	border-left-style:solid;
	border-left-width:5px;
	text-decoration:underline;
	padding:10px;
	font-size:20px;
	color:white;
	background-color:purple;
	
	
	
}